
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-positive">


<ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profile">
<ion-nav-view name="profile"></ion-nav-view>
</ion-tab>


<ion-tab title="My Jobs" icon-off="ion-briefcase" icon-on="ion-briefcase" href="#/tab/applications">
<ion-nav-view name="applications"></ion-nav-view>
</ion-tab>

<ion-tab title="Jobs" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/app/listing">
<ion-nav-view name="joblist"></ion-nav-view>
</ion-tab>



</ion-tabs>